body {
    background-color: lightblue;
}

h1  {
    margin: 50px 50px 25px 50px;
    padding: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 66px;
}



li{
    display: inline-block;
    margin: 0px 60px;
    padding: 10px;
    
}

a {
    text-decoration: none;
}


li:hover {
    background-color: blue;
}

