body {
    background-color: lightblue;
}

h1  {
    margin: 50px 50px 25px 50px;
    padding: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 66px;
}

nav {
    display: inline;
    text-align: center;
}

ul{
    margin: 0px 0px 10px;
    padding: 0px;
    background-color: rgb(153, 208, 245);
}

li{
    display: inline-block;
    margin: 0px 60px;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}


li:hover {
    background-color: white;
}

div.image{
    display: inline-block;
    margin: 0px;
}

img {
    margin: 0px 47px 0px;
    padding: 0px;
    display: inline;
    width: 400px;
}

img:hover {
    opacity: 0.5;
}

div.seccion {
    display: block;
    margin: 0px;
    padding: 0PX;
    /*background-color: blue;
    height: 50px;*/
}

span {
    display: inline-block;
    margin: 0px 47px;
    padding: 0px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background-color: whitesmoke;
}

div.menu-items{
    display: block;
    background-color: rgb(128, 0, 90);
    width: 25%;
    height: 500px;
}