body {
    background-color: lightblue;
}

h1  {
    margin: 50px 50px 25px 50px;
    padding: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 66px;
}

nav {
    display: inline;
    text-align: center;
}

ul{
    margin: 0px;
    padding: 0px;
    background-color: rgb(153, 208, 245);
}

li{
    display: inline-block;
    margin: 0px 60px;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}


li:hover {
    background-color: white;
}

div {
    display: inline-block;
}

img {
    margin: 10px 47px;
    padding: 0px;
    display: inline;
    width: 400px;
}

img:hover {
    opacity: 0.5;
}