body {
    background-color: lightblue;
}

h1  {
    margin: 50px 50px 25px 50px;
    padding: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 66px;
}

nav {
    display: inline;
    text-align: center;
}

li{
    display: inline-block;
    margin: 0px 60px;
    padding: 10px;
    border-radius: 5px;
    
}

a {
    text-decoration: none;
    font-size: 18px;
}


li:hover {
    background-color: white;
}

div .image {
    display: inline;
}

img {
    margin: 0px;
    padding: 0px;
    display: inline;
    width: 200px;
}
